<!-- This is the for for entering a new dev skill -->

<form method="POST" action="/skills">
    <label for="skillName">Skill Name:</label>
    <input type="text" id="skillName" name="skillName" required>
    <br>
    <label for="info">Info:</label>
    <textarea id="info" name="info" required></textarea>
    <br>
    <button type="submit">Add Skill</button>
  </form>
  